[Desktop Entry]
Type=Application
Name=Network Helper
Comment=Run DHCP and scan LAN devices on selected network interfaces
Exec=/home/vxider/WorkSpace/network-helper/run.sh
Path=/home/vxider/WorkSpace/network-helper
Icon=network-helper
Terminal=false
Categories=Network;Settings;
